/*
//////////////////////////Responsive////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
*/

@media (max-width: 1200px){
    .planifica{
        padding: 0 0 10px ;
    }
    .heroinfo h3{
    margin-top: 10%;
    }
}
@media (max-width: 1024px){
    .hero h3{
        margin: 0;
        width: inherit;
        margin-top: 10%;
    }
    .eventDescription{
        font-size: 1.5em; 
        padding: 35px;
        margin: 0;
        justify-self: flex-start;
    }
    .instalacionDetails{
        padding: 0 35px;
    }
    .planifica{
        padding: 0 0 10px ;
    }
    .privacy{
        padding: 0 35px 0;
    }
    .aboutUs{
        padding: 0 35px 35px;
    }
    .value.vision{
        width: 45%;
    }
    .value.value{
        width: 45%;
    }
    .gallery{
        width: auto;
        margin: 10px;
    }
    .termandcondition{
        padding: 0 35px 0;
    }
}
@media (max-width: 768px){
    .heroinfo{
        margin: 5% auto 0;
    }
    /* Footer y Header Responsive */
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px; 
        color: #A3701B;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
    .social{
        margin: 20px 30px 0; 
    }
    .generalinformation{
        height: auto;
    }
    
    .generalinformation h4{
        margin-top: 20px;
    }
    .social{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .footer h4{
        margin: 0;
    }
    /* Footer y Header Responsive */

    /* Responsive Hero */
    .backgroundcontainer.hero,
    .backgroundcontainer.amamos{
        height: 350px;
    }
    .backgroundcontainer.contador{
        height: 300px;
    }
    .herotittle{
        margin: 0;
    }
    .herotittle h1{
        font-size: 7.1em;
    }
    .social.hero{
        text-align: center;
        margin: 0;
        padding: 40px 0;
    }
    /* Responsive Hero */

    /* Titulos */
    .tittleEvents{
        font-size: 2em;
        margin: 10px 0 20px ;
    }
    .tittleEvents.somos{
        font-size: 2em;
        margin: 20px 0 0;
    }
    .eventsDetails{
        padding: 15px;
        font-size: 1.7em;
    }
    .eventsDetails.somos{
        padding: 15px;
        font-size: 1.7em;
        margin: 0;
    }
    .eventDescription{
        font-size: 1.2em; 
        padding: 35px;
        margin: 0;
        justify-self: flex-start;
    }
    /* Titulos */

    /* Counter */
    .stadisticsImage img{
        width: 40px;
        height: 40px;
    }
    .stadisticsTittle{
        font-size: 1.7em;
    }
    /* Counter */

    .planifica{
        padding: 0 0 10px ;
    }
    /* Intslaciones */
    .instalaciones{
        padding: 0 0 20px 0;
    }
    .instalacionDetails{
        padding: 0 35px 0;
    }
    .instalacionescontainer{
        width: 80%;
        height: 60%;
    }
    .instalacionescontainer img{
        width: 600px;
    }
    /* Intslaciones */
    .value.vision{
        width: 40%;
    }
    .value.value{
        width: 40%;
    }
    .info_tittle h2{
        font-size: 1.1em;
    }
    .info_items p{
        font-size: 0.8em;
    }
    .box{
        width: 85%;
    }
    
    .link{
        margin: 10% 0;
    }  
    .galeria .box-img{
        width: 100%;
        height: 50%
    }
}
@media (max-width: 425px){
    .heroimage img{
        width: 350px;
        margin: 5%;
    }
    .heroinfo{
        width: 100%;
        text-align: center;
    }

    /* Footer y Header Responsive */
    .backgroundcontainer.hero,
    .backgroundcontainer.amamos{
        height: 300px;
    }
    .backgroundcontainer.amamos h2{
        font-size: 2em;
    }
    .generalinformation,.footer{
        display: block;
    }
    .generalinformation h4{
        margin: 0;
    }
    .logogeneral{
        text-align: center;
        padding: 20px 0;
    }
    .informacion,
    .paquetes,
    .social,
    .derechos{
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }
    .footer h4{
        margin: 0;
    }
    .diseno{
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
    /* Footer y Header Responsive */

    /* Responsive Hero */
    .backgroundcontainer{
        height: 300px;
    }
    .backgroundcontainer.hero{
        height: 350px;
    }
    .herotittle{
        margin: 0;
    }
    .herotittle h1{
        font-size: 4.5em;
        padding: 10px;
    }
    .herotittle h3{
        font-size: 1.3em;
        margin-top: 20px;
        width: inherit;
        display: none;
    }
    .social.hero{
        margin: 0;
    }
    /* Responsive Hero */

    /* Titulos */
    .tittleEvents{
        font-size: 1.5em;
        margin: 10px 0 10px ;
    }
    .tittleEvents.experiencia{
        font-size: 1.2em;
        text-align: center;
    }
    .eventsDetails{
        padding: 0 35px 0;
        font-size: 1.5em;
        margin: 0;
    }
    .eventsDetails.somos{
        text-align: center;
        font-size: 1.2em;
    }
    /* Titulos */
    .center{
        width: 95%;
        height: 100%;
    }

    /* Counter */
    .stadistics{
        text-align: inherit;
        padding: 5px;
        width: 170px;
    }
    .stadisticsImage img{
        width: 40px;
        height: 40px;
    }
    .stadisticsTittle{
        font-size: 1.4em;
    }
    /* Counter */

    /* Planifica */
    .planifica{
        font-size: 1em;
        padding: 0 0 10px ;
    }
    /* Planifica */

    /* Servicios */
    .services{
        display: block;
    }
    .servicesImage img{
        width: 150px;
        height: 150px;
    }
    .servicesName{
        font-size: 1.5em;
    }
    /* Servicios */

    .backgroundtittle{
        font-size: 2em;
        padding: 10px;
        width: 90%;
        margin: 0;
    }
    .tittlePageSalon{
        padding: 35px;
        margin: 0;
        text-align: center;
    }
    .privacy h2{
        text-align: center;
    }
    .valueList p{
        font-size: 1em;
        text-align: start;
    }
    .form_wrap{
        display: block;
    }
    .contact_info{
        width: 100%;
        height: 400px;
    }
    .contact_info span{
        padding: 20px 0 0;
    }
    form.form_contact{
        width: 100%;
    }
    .link{
        margin: 10% 0;
    }   
    .link a{
        font-size: 1.2em;
    }
    .infoevents{
        font-size: 1.1em;
        margin: 10px;
    }
    .backgroundtittle.event{
        font-size: 1.5em;
    }
    .menu ul li a{
        font-size: .8em;
    }
}
@media (max-width: 375px){

    .backgroundtittle {
        font-size: 1.3em;
    }

    .backgroundcontainer.contador{
        height: 350px;
    }
    .backgroundcontainer.eventbodascounter,
    .backgroundcontainer.eventxvanoscounter,
    .backgroundcontainer.eventgraduacioncounter{
        height: 400px;
    }
    /* Responsive Hero */
    .heroimage img{
        width: 300px;
    }
    .herotittle h3{
        margin-top: 10%;
        font-size: 1.2em;
        width: inherit
    }
    /* Responsive Hero */
    .tittleEvents.experiencia{
        font-size: 1.1em;
        margin-top: 20px;
    }
    
    .eventsDetails{
        padding: 0 35px 0;
        font-size: 1.3em;
        text-align: center;
        margin: 0;
    }
    .eventsDetails.somos{
        font-size: 1em;
    }
    .eventDescription{
        font-size: 1em;
    }

    /* Counter */
    .stadistics{
        text-align: inherit;
        padding: 5px;
        width: 100px;
    }
    .stadisticsImage img{
        width: 40px;
        height: 40px;
    }
    .stadisticsTittle{
        font-size: 1.4em;
    }
    /* Counter */

    .planifica{
        font-size: 1em;
        padding: 0 15px 15px;
    }
    .privacy h3{
        text-align: start;
        font-size: 1.3em;   
    }
    .value.vision{
        width: 80%;
        font-size: 1.2em;
    }
    .value.value{
        width: 80%;
        border: none;
        font-size: 1.2em;
    }
    .termandcondition h2{
        text-align: center;
        font-size: 1em;
    }
    .termandcondition h3{
        text-align: start;
        font-size: .8em;
    }
    .termsandcondiction p{
        font-size: 0.5;
    }
}
@media (max-width: 320px){
    .heroinfo img{
        margin: 0;
    }
    .eventsDetails{
        font-size: 1.1em;
    }
    .backgroundcontainer.amamos h2{
        font-size: 1.5em;    
    }

    /* Counter */
    .backgroundcontainer.contador{
        height: 300px;
    }
    .backgroundtittle{
        font-size: 1.3em;
    }
    .stadistics{
        height: auto;
        padding-top: 20px;
    }
    .stadisticsImage img{
        width: 35px;
        height: 35px;
    }
    .tittleEvents.experiencia{
        font-size: 1em;
    }
    .stadisticsTittle{
        font-size: 1em;
    }
    .instalacionDetails{
        font-size: 1em;
    }
    /* Counter */

    .customer{
        width: 100%;
    }
    .menu ul li a{
        font-size: .6em;
    }
}

/*
//////////////////////////Responsive////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
*/